.logo{
	width: 50%;
	margin: 0 auto;
}
.logo2{
	width: 25%;
	margin: 0 auto;
}
#name[type=text] {
    text-transform: capitalize;
    }
#header{
	text-align: center;
}
h1{
	text-align: center;
	padding: .2em 0 .4em 0;
	color: #313235;
	font-size: 4rem;
}
label{
	font-size: 2em;
	color: #313235;
	font-weight: normal;
}
.form-control{
	font-size: 1.75em;
	height: 2em;
}

.btn-primary{
	margin-top: 1em;
	padding: .5em;
	font-size: 1.8em;
}
.form-group{
	margin: 1em;
}
.btn-success{
	margin-top: 1em;
	padding: .5em;
	font-size: 1.8em;
}
.btn-danger{
	margin-top: 1em;
	padding: .5em;
	font-size: 1.8em;
}
.container{
	margin-top: 2em;
	margin-bottom: 8em;
}
.myHidden{
	display: none;
}
body{
	font-family: RockWell
}
p.lead{
	font-size: 2em;
}
.red{
	color: #d74946;
}
@font-face {
    font-family: RockWell;
    src: url("fonts/rockwell.ttf");
}